/*slidebar with icon*/

.sidebar {
        height: 100%;
        width: 170px;
        top: 0;
        left: 0;
        padding-top: 20px;
        background-color: #111;
        overflow-x: hidden;
        position: fixed;
        z-index: 1;
}

.sidebar a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 25px;
        color: #756b6b;
        display: block;
}
.sidebar a:hover {
        color: #958686;
}

.text {
        margin-left : 170px;
        padding: 0 20px;
        font-size: 30px;
}

/*horizontal scroll menu*/

div.scrollmenu {
        background-color: #1a1919;
        overflow: auto;
        white-space: nowrap;
        margin-left: 170px;
}
      
div.scrollmenu a {
        text-decoration: none;
        color: white;
        text-align: center;
        padding: 20px;
        display: inline-block;
        font-size: 20px;
}
      
div.scrollmenu a:hover {
        background-color: #3b3737;
}

.text2 {
        font-size: 30px;
        margin-left: 170px;
        padding: 0 20px;
}

/*vertical menu*/

.text3 {
        font-size: 30px;
        margin-left: 170px;
        padding: 0 20px;
}

.vertical-menu {
        width: 200px;
        margin-left: 170px;
        padding: 0 20px;
}
      
.vertical-menu a {
        text-decoration: none;
        background-color: #938e8e;
        color: black;
        display: block;
        padding: 12px;
        font-size: 20px;
}
      
.vertical-menu a:hover {
        background-color: #928787;
}
      
.vertical-menu a.active {
        background-color: #232625;
        color: white;
}

/*bottom navigation*/

.text4 {
        font-size: 30px;
        margin-left: 170px;
        padding: 20px;
        margin-bottom: 40px;
}

.navbar {
        margin-left: 170px;
        position: fixed;
        overflow: hidden;
        background-color: #333;
        bottom: 0;
        width: 100%;
}
      
.navbar a {
        text-decoration: none;
        float: left;
        display: block;
        color: #d4bfbf;
        text-align: center;
        padding: 14px 16px;
        font-size: 20px;
}
      
.navbar a:hover {
        background: #816f6f;
        color: black;
}
      
.navbar a.active {
        background-color: #1a1d1c;
        color: white;
}

/*responsive bottom navbar*/

.navbar .icon {
        display: none;
}

.text5 {
        font-size: 30px;
        margin-left: 170px;
        padding: 20px;
        margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
        .navbar a:not(:first-child) {display: none;}
        .navbar a.icon {
          float: right;
          display: block;
        }
}
      
@media screen and (max-width: 600px) {
        .navbar.responsive .icon {
          position: absolute;
          right: 0;
          bottom:0;
        }
        .navbar.responsive a {
          float: none;
          display: block;
          text-align: left;
        }
      
}

/*bottom border nav links*/

.text6 {
        font-size: 30px;
        margin-left: 170px;
        padding: 20px;
        margin-bottom: 40px;
}

.topnav {
        overflow: hidden;
        background-color: #e4dede;
        margin-left: 170px;
}
      
.topnav a {
        float: left;
        font-size: 20px;
        display: block;
        color: rgb(11, 10, 10);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        border-bottom: 3px solid transparent;
}
      
.topnav a:hover {
        border-bottom: 3px solid rgb(43, 42, 42);
}
      
.topnav a.active {
       border-bottom: 3px solid rgb(57, 51, 57);
}

/*right aligned menu links*/

.topnav-right {
        float: right;
}

.text7 {
        font-size: 30px;
        margin-left: 170px;
        padding: 20px;
        margin-bottom: 40px;  
}
      

